@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  // padding-bottom: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 50px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  background: #eb3b5a;
  color: #fff;
  outline: none;
  border: none;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  transition: all 0.3s ease;
  width: max-content;

  @media(max-width: 768px) {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }

  &:hover {
    background: #ff5c77;
  }
}

.form-control {
  height: 45px !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  border: 1px solid #989898 !important;

  &:focus {
    border: 1px solid #1c1c1c !important;
  }

  @media(max-width: 768px) {
    height: 40px !important;
  }
}